apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: apps-generator
  namespace: argocd
spec:
  generators:
  - git: # <-- Use the 'git' generator for path/directory iteration
      repoURL: https://github.com/Nit89/argocd-capstone
      revision: master
      directories: # <-- The directories to iterate over
      - path: apps/*
  template:
    metadata:
      # 'path.basename' variable is correctly derived from the 'git' generator
      name: '{{path.basename}}' 
    spec:
      project: default
      source:
        repoURL: https://github.com/Nit89/argocd-capstone
        targetRevision: master
        # This path correctly uses the generated path variable
        path: '{{path}}' # Use {{path}} which will be 'apps/demo-app'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'