apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: root-apps-generator
  namespace: argocd
spec:
  generators:
  - git: 
      repoURL: https://github.com/Nit89/argocd-capstone
      revision: master
      directories:
      # 1. Look for any root folder containing a 'k8s' subfolder
      - path: '*/k8s' 
        exclude: true  # Optional: Exclude specific non-app folders if needed
  template:
    metadata:
      # 2. Extract the name from the FIRST segment (Index 0)
      # Path: demo-backend / k8s
      # Segments:    0       /  1
      name: '{{path.segments.0}}' 
    spec:
      project: default
      source:
        repoURL: https://github.com/Nit89/argocd-capstone
        targetRevision: master
        path: '{{path}}' 
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.segments.0}}'