apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: root-apps-generator
  namespace: argocd
spec:
  generators:
  - git: 
      repoURL: https://github.com/Nit89/argocd-capstone
      revision: master
      directories:
      # --- REMOVE THE 'Exclude: true' LINE ---
      - path: '*/k8s'
  template:
    metadata:
      name: '{{path.segments.0}}' 
    spec:
      project: default
      source:
        repoURL: https://github.com/Nit89/argocd-capstone
        targetRevision: master
        path: '{{path}}' 
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.segments.0}}'
      # Keep syncPolicy to create Namespace immediately
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true