apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      nodeSelector:
        node-type: infra 
      tolerations: # <--- ADDED THE TOLERATION HERE
      - key: "node-type"
        operator: "Equal"
        value: "infra"
        effect: "NoSchedule"       # THIS is important
      containers:
      - name: prometheus
        image: prom/prometheus
        ports:
        - containerPort: 9090
