apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      nodeSelector:
        node-type: infra        # THIS is important
      containers:
      - name: prometheus
        image: prom/prometheus
        ports:
        - containerPort: 9090
